<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>

    <!-- CSS -->

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">

    <!-- JS -->

    <script async
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
        crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        
        {% include 'dashboard/navbar.html' %}
        <br>
        <div class="row">

            <!-- SIDEBAR -->
            <div class="col-lg-3">
                {% include 'dashboard/sidebar.html' %}
            </div>

            <!-- CONTENT -->
            <div class="col-lg-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% block footer %}{% endblock %}
</body>
</html>

<!------ Include the above in your HEAD tag ---------->

