{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        Welcome
    </div>
    <div class="card-body">
        <p>
            Welcome to Masonite Dashboard!
          </p>
          <p>
            Although this package does not have much functionality out of the box, many third party packages can
            add links and views to this dashboard. 
          </p>
          <p>
            Examples of possibilities include a Stripe payment integration adding a dashboard to view history of subscriptions
            or a model integration to view and edit models like the built in Django dashboard.
          </p>
    </div>
  </div>
{% endblock %}

