{% extends 'base.html' %} 

{% block content %}

<div class="card">
    <div class="card-header">
        Login
    </div>

    <div class="card-body">
        <form action="/dashboard/login" method="POST">
            {{ csrf_field|safe }}
            {% if session().has('danger') %}
                <div class="alert alert-danger">{{ session().get('danger') }} </div>
            {% endif %}
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

{% endblock %}