<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Masonite Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ request().user().name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for link, class in user_links.items() %}
                    {% if request().app().resolve(class().visible) %}  
                    <a class="dropdown-item" href="{{ class.url }}">{{ request().app().resolve(class().show) }}</a>
                    {% endif %}
                {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Visit Site</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/dashboard/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
