<div class="card">
    <div class="card-header">
            Navigation
    </div>
    <div class="card-body">
        {% for link, class in nav_links.items() %}
        <ul class="list-group list-group-flush">
            <a class="card-link" href="{{ class.url }}">{{ class.display }}</a>
        </ul>
        {% endfor %}
    </div>
</div>